.warp {
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.pre-card:hover {
	border: 1px dashed #1890ff;
	color: #1890ff;
	cursor: pointer;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
}
