.content {
	padding: 0 50px;
	margin-top: 30px;
}

.warp {
	background: #fff;
	padding: 24px;
	min-height: 670px;
	border-radius: 10px;
}

@media only screen and (max-width: 768px) {
	.content {
		padding: 0 10px;
		margin-top: 30px;
	}
	
	.warp {
		background: #fff;
		padding: 10px;
		min-height: 670px;
		border-radius: 10px;
	}
	
	.ant-layout-header {
		padding: 0;
	}
}
