
.m-card .ant-card-body .ant-card-meta {
	min-height: 70px;
}
/*.m-card .ant-card-body .ant-card-meta*/
.m-card .ant-card-body .ant-card-meta .ant-card-meta-detail .ant-card-meta-title
{
	width: 202px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.m-card .ant-card-body .ant-card-meta .ant-card-meta-detail .ant-card-meta-description
{
	width: 202px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 2;
	min-height: 40px;
	max-height: 40px;
}


